#stars
#stars2

.logo
  img(src="images/logo_large.png")

.content

  .data
    | 21 à 23 de setembro
  .local
    | Instituto de Computação, Unicamp


  h2
    | Donec eget lacus porta, aliquet dolor non,
    | aliquam lectus. Quisque rutrum urna blandit, fringilla
    | arcu vel, porttitor tortor. Etiam semper leo eu magna
    | mollis tempus a eget libero.

  .botoes
    .botao
      a(href="www.google.com") BOTAO 1
    .botao
      a(href="www.google.com") BOTAO 2

  h1
    | Regras e Informações
  h2
    | Donec eget lacus porta, aliquet dolor non,
    | aliquam lectus. Quisque rutrum urna blandit, fringilla
    | arcu vel, porttitor tortor. Etiam semper leo eu magna
    | mollis tempus a eget libero.

  h1
    | Programação
  h2
    | Donec eget lacus porta, aliquet dolor non,
    | aliquam lectus. Quisque rutrum urna blandit, fringilla
    | arcu vel, porttitor tortor. Etiam semper leo eu magna
    | mollis tempus a eget libero.

  h1
    | Localização
  h2
    | Donec eget lacus porta, aliquet dolor non,
    | aliquam lectus. Quisque rutrum urna blandit, fringilla
    | arcu vel, porttitor tortor. Etiam semper leo eu magna
    | mollis tempus a eget libero.

  iframe(width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=-47.066009044647224%2C-22.815225556919913%2C-47.061964273452766%2C-22.812318038332844&amp;layer=mapnik&amp;marker=-22.813771805384324%2C-47.06398665904999")
  a(href="http://www.openstreetmap.org/?mlat=-22.81377&amp;mlon=-47.06399#map=18/-22.81377/-47.06399")

  h1
    | Organização
  h2
    | LivreCamp & Gamux
