#stars
#stars2

.logo
  img(src="images/logo_large.png")

.content

  .data
    | 20, 21 e 22 de outubro
  .local
     | São Carlos & Campinas


  .botoes
    .botao
      a(href="https://www.facebook.com/events/210060396195541" target="_blank") FACEBOOK
    .botao
      a(href="https://t.me/livrecamp" target="_blank") TELEGRAM



  .menu
        a(href="#OQUEE") O que é
        a(href="#REGRAS") Regras
        a(href="#AGENDA") Workshops
        a(href="#LOCAIS") Locais
        a(href="#ORGANIZACAO") Organização

  h1#OQUEE O que é?
  h2
    p
      | O FoG e o Gamux, em parceria com a LivreCamp e o sancaLUG, traz para
      | o interior de São Paulo a primeira edição da Livre Jam! Reúna sua
      | equipe, junte uma tonelada de snacks, encha suas garrafas de café
      | e venha encarar uma
      span maratona de 48h desenvolvendo um game e trocando experiências
      | com outros desenvolvedores; tudo, claro, utilizando o máximo possível
      | de softwares e tecnologias livres :)

    p
      | E para introduzí-los a algumas das ferramentas que recomendamos,
      span ministraremos diversos workshops
      | em Campinas e São Carlos. Para mais
      | informações como datas e locais, fique ligado neste site e em
      | nossa página do Facebook!

  h1#AGENDA Workshops

  .quadradinhos
        a(target="_blank" href="https://www.facebook.com/events/1464819813553975")
          .quadradinho
                .dia 6/10
                .dsem sexta
                .titulo Workshop de Phaser
                .cidade Campinas

        a(target="_blank" href="http://www.google.com")
          .quadradinho
                .dia 10/10
                .dsem terça
                .titulo Worshop de Krita
                .cidade São Carlos

        a(target="_blank" href="http://www.google.com")
          .quadradinho
                .dia 16/10
                .dsem segunda
                .titulo Worshop de Godot
                .cidade São Carlos

  .quadradinhos
        a(target="_blank" href="http://www.google.com")
          .quadradinho
                .dia 17/10
                .dsem terça
                .titulo Worshop de Love
                .cidade São Carlos

  h1#REGRAS
    | Regras e Informações

  h2
    p
      | Os grupos terão
      span 48h
      | para desenvolver, submeter e apresentar um game
      | que aborde um tema pré-estabelecido.
      | Para isso deverão usar
      span o máximo de tecnologias livres possível pra a produção.

    p
      | Você pode produzir um jogo eletrônico ou analógico, de
      span qualquer gênero
      | para uma quantidade indefinida de jogadores: a criatividade
      | é o limite! Todas as ideias sejam aceitas desde que abordem o tema,
      | tenham sido desenvolvidos dentro do evento e não infrinjam
      | direitos autorais.

    p
      | Vale lembrar que a Livre Jam
      span não é uma competição
      | mas uma maratona
      | de criatividade! O objetivo do evento é proporcionar um ambiente
      | onde entusiastas — programadores, artistas, músicos, sonoplastas,
      | escritores e outras mentes criativas — possam
      span desenvolver novas habilidades, prototipar novas ideias
      | ou até mesmo terem um
      span primeiro contato com a criação de um jogo.

    p
      | Portanto, a sua maior vitória é chegar ao final do evento com algo
      | jogável e, mesmo que feinho,
      span faça você se orgulhar! ❤

  h1#LOCAIS
    | Locais Participantes

  img(style="width: 80%;" src="images/map.png")

  .enderecos
    .endereco
      h3 Campinas

      | Instituto de Computação, IC-3.5, Unicamp
      br
      | Avenida Albert Einstein, 1251
      br
      | Cidade Universitária, Campinas, SP

      a(target="_blank" href="http://osm.org/go/M~3A0XFvj?m=&way=95011169") [ Mapa ]

    .endereco
      h3 São Carlos

      | Instituto de Ciências Matemáticas e de Computação, USP
      br
      | Avenida Trabalhador Sancarlense, 400
      br
      | Centro, São Carlos, SP

      a(target="_blank" href="http://osm.org/go/NqLvBbvxS--?m=&relation=297986") [ Mapa ]

  h1#ORGANIZACAO
    | Organização
  .entidades
    .livrecamp
      a(href="https://www.livrecamp.org" target="_blank")
        img(src="images/livrecamp-logo.png")
    .gamux
      a(href="http://www.gamux.com.br" target="_blank")
        img(src="images/gamux-logo.png")
    .sancalug
      a(href="https://www.sancalug.org" target="_blank")
        img(src="images/sancalug.png")


.rodape
    a(href="https://creativecommons.org/licenses/by/4.0/deed.en" target="_blank")
        img(src="images/cc.png")
