#stars
#stars2

.logo
  img(src="images/logo_large.png")

.content

  .data
    | 20 à 22 de outubro
  .local
    | Instituto de Computação, Unicamp

  .botoes
    .botao
      a(href="https://www.facebook.com/events/210060396195541" target="_blank") FACEBOOK
    .botao
      a(href="https://t.me/livrecamp" target="_blank") TELEGRAM

  h1 O que é?
  h2
    p
      | A LivreCamp em parceria com o Gamux traz para Campinas a
      span primeira edição da Livre Game Jam!
      | Reuna sua equipe, juntem
      | uma tonelada de snacks, preparem suas ferramentas e venham
      | encarar uma
      span
        | maratona de 48h desenvolvendo um game e trocando experiências
      | com outros desenvolvedores;
      | tudo, claro,
      | utilizando o máximo possível de softwares e tecnologias livres (:

    p
      | E para introduzi-los às ferramentas que recomendamos,
      span ministraremos diversos workshops
      | em instituições de ensino da região de Campinas.
      | Para mais informações como datas e locais, fique ligado neste site
      | e em nossa página do Facebook!

  h1
    | Regras e Informações

  h2
    p
      | Os grupos terão
      span 48h
      | para desenvolver, submeter e apresentar um game
      | que aborde um tema pré-estabelecido.
      | Para isso deverão usar
      span
        | o máximo de tecnologias livres possível.

    p
      | Shooter, sidescroler, 3d, 2d... aqui
      span vale qualquer genero de jogo
      | desde que todos os recursos utilizados nele tenham sido desenvolvidos
      | dentro do evento e não infrinjam direitos autorais de terceiros.

    p
      | Vale lembrar que a Jam
      span não é uma competição!
      | O objetivo do evento é proporcionar um ambiente onde programadores
      | e artistas possam
      span desenvolver novas habilidades, prototipar novas ideias
      | ou até mesmo terem um
      span primeiro contato com a criação de um jogo.
    p
      | Portanto sua maior vitória é chegar ao final do evento com algo
      | minimamente jogável (mesmo que feio).

  h1
    | Localização
  h2
    | Instituto de Computação, IC-3.5, Unicamp, SP.

  iframe(style="pointer-events:none" width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-47.066009044647224%2C-22.815225556919913%2C-47.061964273452766%2C-22.812318038332844&amp;layer=mapnik&amp;marker=-22.813771805384324%2C-47.06398665904999")
  a(href="http://www.openstreetmap.org/?mlat=-22.81377&amp;mlon=-47.06399#map=18/-22.81377/-47.06399")

  h1
    | Organização
  .entidades
    .livrecamp
      a(href="https://www.livrecamp.org" target="_blank")
        img(src="images/livrecamp-logo.png")
    .gamux
      a(href="http://www.gamux.com.br" target="_blank")
        img(src="images/gamux-logo.png")

.rodape
    a(href="https://creativecommons.org/licenses/by/4.0/deed.en" target="_blank")
        img(src="images/cc.png")
